*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,151,163), rgb(48,63,141));
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
}
#location,
#temperature
{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.degree-section{
    display: flex;
    align-items: center;
}
.degree-section h2 span {
    font-size: 30px;
    margin: 10px;
    
}
